.cards-container{
    width: 90%;
    min-height: 100%;
    max-height: 385px;
    overflow-y: auto;
    padding: 5px;
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.columns-container{
    /* margin-top: 100px; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* padding: 10px; */
}

.column{
    align-self: flex-start;
    /* height: 0%; */
    margin: 5px;
    width: 250px;
    min-width: 250px;
    /* min-height: 500px; */
    max-height: 500px;
    border-radius: 5px;
    background-color:#d5d9e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer !important;
}

.head{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-container{
    text-align: start;
    width: 80%;
    margin-left: 10px;
}
.title{
    border-radius: 4px;
    padding:5px 10px 5px 10px;
    margin-top: 7px;
    /* background-color: yellow; */
    background-color: transparent;
    resize: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
}
textarea{
    /* height: 35px; */
}
.title:focus{
    outline: none;
    border: 2px solid rgb(4, 20, 250);
    cursor: text;
}




.bottom-btn-container{
    width: 100%;
    position: absolute;
    padding: 10px 20px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.bottom-btn-container span{
    cursor: pointer;
    padding-right: 8px;
    font-size: 1.5rem;
}
.bottom-btn-container button{
    color: #5e6c84;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
}
.bottom-btn-container:hover{
    background-color:rgb(218, 210, 252);
}
/* menu styles */
.list-control{
    max-height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;    
}

.MuiMenu-list{
    background-color: rgb(165, 116, 255);
}
.MuiMenu-list li:hover{
    background-color: rgb(149, 92, 253);
}
.menu-container button{
    padding: 0;
    min-width: 30px;
    margin-right: 10px;
    /* margin-top: 5px; */
}