.bgRed{
    overflow: scroll;
}
.modal-title-container{
    width: 80%;
    /* background-color: rgb(107, 104, 255); */
}
.modal-card-title{
    font-size: 1.2rem;
    font-family: 'Roboto';
    /* background-color: #c1bbff; */
}
.modal-card-title:focus{
    background-color: #f0efff;
}

.modal-description-container{
    margin-top: 1.2rem;
    width: 70%;
}
.modal-card-description{
    font-family: 'Noto Sans KR';
    font-size: .8rem;
    color: rgb(10, 3, 3);
    padding: 6px;
    height: 100px;
    background-color: #cdc8f8;
    transition: margin .3s;
}
.modal-card-description:focus{
    padding: 6px;
    margin-top: 6%;
    margin-left: 3%;
    margin-left: 3%;
    background-color: #f0efff;
}

.save-exite-container{
    flex-direction: row;
    display: flex;
    transition: margin .3s;
    visibility: hidden;
    transition: visibility margin .3s;
}
.save-exite-container:active{
    visibility: visible;
}

.modal-card-description:focus + .save-exite-container{
    margin-left: 3%;
    visibility: visible;
}